name: CI

on: [push, pull_request] # on all pushes and PRs

jobs:
  ros1_bridge:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ros1:
          - distro: noetic
        ros2:
          - distro: foxy
          - distro: rolling

    steps:
      - uses: actions/checkout@v2
      - uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: "${{matrix.ros1.distro}} ${{matrix.ros2.distro}}"
      - id: custom_build_sequence
        name: custom_build_sequence
        run: |
          sudo apt install ros-${{matrix.ros2.distro}}-ros1-bridge -y
      - name: Build and test ros1-bridge
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: ros1_bridge
          target-ros1-distro: ${{matrix.ros1.distro}}
          target-ros2-distro: ${{matrix.ros2.distro}}

